<!--<app-login
  (userConnectedEmitter)="userConnected($event)"
  (userDeconnectedEmitter)="userDeconnected($event)"
>
</app-login>-->
<!-- tout cela est affiché ssi l'utilisateur est connecté -->

<div *ngIf="monService.isConnected">
  <!-- affiche l'ensemble des playlists disponibles (début) -->

  Les playlists :

  <ul>
    <li *ngFor="let playlist of listDePlaylist">
      <!-- à chaque playlist est associé un formulaire tel que si on clique dessus,
        alors on affiche le contenu de la playlist -->

      <form (ngSubmit)="showPlaylistContent(playlist)">
        <button>{{ playlist.name }}</button>
      </form>

      <!--on associe un second bouton qui correspond à la suppression de la playlist elle-même -->
      <form (ngSubmit)="deletePlaylist(playlist.id)">
        <button>supprimer (non fonctionnel)</button>
      </form>
    </li>
  </ul>
  <!-- affiche l'ensemble des playlists disponibles (FIN) -->

  <!-- bouton qui permet d'appeler le formulaire qui permet de créer une nouvelle playlist -->

  <form (ngSubmit)="formNewPlaylistOn()">
    <button>créer une nouvelle playlist</button>
  </form>

  <!-- si l'utilisateur a activé le formulaire de nouvelle playlist, alors c'est ici
    qu'il peut lui donner un nom-->

  <div *ngIf="newPlaylistOn">
    <form (ngSubmit)="addNewNamePlaylist()" #varForm2="ngForm">
      Nom de la playlist :
      <input
        type="text"
        required
        maxlength="20"
        minlength="3"
        pattern="[a-zA-Z0-9]+"
        name="playlist"
        [(ngModel)]="nomPlaylist"
        #nomPlaylistControler="ngModel"
      />
      <button type="submit" [disabled]="varForm2.invalid">Créer</button>
    </form>
  </div>
</div>

<!--on affiche le contenu de la playlist choisie par le user si ce dernier a demandé l'affichage
  d'une playlist-->

<div *ngIf="displayPlaylistOn">
  Les musiques de la playlist
  <!--"{{ playlistChosen.name }}"-->
  sont :
  <ul>
    <li *ngFor="let track of playlistContent">
      {{ track.name }}
    </li>
  </ul>
</div>
